// main: complete.scss

#page-footer {
	.creator-credit {
		width: 100%;
		text-align: center;
		background-color: $bg_Leather_solid;
		color: white;
		border-top: dashed 2px black;
		h2 {
			margin: 0;
			font-family: $f_Nunito;
			font-weight: 400;
			font-size: $fs_SubHeading - .2rem;
			padding: 6px 0;
		}
	}
}
