// main: complete.scss

html {
    //dimension
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    //decoration
    background-color: $bg_Beige_solid;
}
body {
    //dimension
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: fit-content(500px) fit-content(500px) auto fit-content(500px);
}
.hidden {
	display: none;
}
