// main: complete.scss

#page-title {
	display: grid;
	grid-template-columns: .5fr 2fr .5fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	'page-title-logo' 'page-title-heading' 'page-title-login/out';
	text-align: center;
	border-bottom: solid 1px black;
	padding: 6px 0;
	.cookbook-logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-area: 'page-title-logo';
		img {

		}
	}
	.title-heading {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-area: 'page-title-heading';
		border-right: solid 1px black;
		border-left: solid 1px black;
		h1 {
			margin: 0;
			font-family: $f_Nunito;
			font-weight: 400;
			font-size: $fs_Heading;
		}
		span {
			font-family: $f_OpenSans;
			font-weight: 300;
			font-size: $fs_SubHeading;
		}
		.header-access-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			grid-area: 'page-title-login/out';
			.login {
				width: 90%;
				border: dashed 1px black!important;
			}
			.logout {

			}
			.access-button {
				text-decoration: none;
				background-color: darken($bg_Leather_solid, 15%);
				color: white;
			}
		}
	}
}
