//main: collection.scss

// font stacks
$f_OpenSans: 'Open Sans', sans-serif;
$f_Nunito: 'Nunito', sans-serif;

// font sizes
$fs_Heading: 2.4rem;
$fs_SubHeading: 1.4rem;

// background colors
$bg_Beige_solid: rgb(228, 212, 144);
$bg_Leather_solid: #6B3E2B;
