//main: complete.scss

// font stacks
$f_Headings: 'Open Sans', sans-serif;
$f_Special: 'Spectral SC', sans-serif;
$f_Titles: 'Nunito', sans-serif;

// font sizes
$fs_Heading: 2.4rem;
$fs_SubHeading: 1.4rem;
$fs_Button: 1.8rem;
$fs_Label: .8rem;

// background colors
$bg_Beige_solid: rgb(228, 212, 144);
$bg_Leather_solid: #6B3E2B;
